<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if userName.is_authenticated and userName.is_staff and userName.is_superuser %}
  {{userName}} <br>
        
                {% for unApprovedUser in unApprovedUsers %}
                    {%if unApprovedUser.position == 'STAFF'%}
                        
                        <form action="" method ="POST">
                            {%csrf_token%}
                            {{unApprovedUser.first_name}} {{unApprovedUser.position}}
                            <input type="hidden" name="unapproveduser_id" value="{{unApprovedUser.id}}"> <br>
                            {% for eachsubject in all_available_subject %}
                                    <input type="checkbox" name="chosensubject" value="{{eachsubject}}">{{eachsubject}}
                            <br>
                            {% endfor %}
                            {% if number_of_sessions == 0 %}
                                 <h3>Pls <a href="{% url 'create_session' %}">Create Session</a> to be able to authenticate user </h3>
                            {% elif number_of_sessions > 0 %}
                                <input type="submit" value="Approve"><br> <br>
                            {% endif %}
       
                        </form>
                    {%elif unApprovedUser.position == 'STUDENT'%}

    
                    <form action="" method ="POST">
                        {% csrf_token %}
                        {{unApprovedUser.first_name}} {{unApprovedUser.position}}
                        <input type="hidden" name="unapproveduser_id" value="{{unApprovedUser.id}}"> <br>
                        {% if number_of_sessions == 0 %}
                           <h2>ADD SESSION</h2>
                        {% elif number_of_sessions > 0 %}
                            <input type="submit" value="Approve"><br> <br>
                        {% endif %}

    
                    </form>

                        
                    {% endif %}

                {% endfor %}
    {% endif %}



</body>
</html>